<template>

  <div class="main">


    <!--    SLIDER BUTTON (PREVIOUS)   -->

    <div class="btnContainer">
      <button class="sliderBtn left" @click="previous" v-show="min > 0">
        <svg data-v-15fcceaa=""
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 27.563 15.267"
             class="sliderBtnIcon sliderBtnIconLeft">
          <path
              d="M24.907 14.798L13.782 3.673 2.657 14.798a1.511 1.511 0 01-2.188 0 1.511 1.511 0 010-2.188L12.719.422a1.548 1.548 0 012.125 0l12.25 12.188a1.547 1.547 0 01-2.188 2.188z"></path>
        </svg>
      </button>
    </div>


    <!--  Bilder werden mit der for schleife durch iteriert und ausgegeben  -->
    <!--  Mit v-show überprüfe ich ob die Bedinung true ist  -->

    <div class="overlay-wrapper"> 
      
      <div class="sliderWrapper">
        <div class="sliderContainer" v-for="(animals, index) in animals" :key="animals.id"
             v-show="index < this.max && index >= this.min || isMobile">

          <!--    HEADLINES    -->

          <div>
            <h6 class="headline">Zootiere</h6>
            <p class="subHeadline">Zufällige Auswahl an Zootieren</p>
          </div>

          <!--    SLIDER BODY    -->

          <ul class="sliderBody">
            <li>
              <a href="https://www.restplatzboerse.at/" target="_blank">
                <img class="img" :src="animals.image_link" alt="Bild">
              </a>

          <!--    SLIDER FOOTER    -->

              <div class="sliderFooter">
                <h6 class="animalName">{{ animals.name }}</h6>
                <p class="aniWeight">bis zu <strong>{{ animals.weight_max }}Kg</strong></p>
              </div>


            </li>
          </ul>

        </div>
      </div>
    </div>

    <!--    SLIDER BUTTON (NEXT)   -->
    
    <div class="btnContainer">
      <button class="sliderBtn right" @click="next" v-show="max < 5">
        <svg data-v-15fcceaa=""
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 27.563 15.267"
             class="sliderBtnIcon sliderBtnIconRight">
          <path
              d="M24.907 14.798L13.782 3.673 2.657 14.798a1.511 1.511 0 01-2.188 0 1.511 1.511 0 010-2.188L12.719.422a1.548 1.548 0 012.125 0l12.25 12.188a1.547 1.547 0 01-2.188 2.188z"></path>
        </svg>
      </button>
    </div>

  </div>

</template>

<script>
import {onMounted, onUnmounted, ref} from 'vue'

export default {

  data() {
    return {
      min: 0,
      max: 1
    }
  },


  // Return den state "animals" vom store 

  computed: {
    animals() {
      return this.$store.state.animals
    },
  },

  // Funktion getAnimals wird vom store aufgerufen sobald die Component erstellt wurde

  async created() {
    await this.$store.dispatch('getAnimals')

  },

// Neue VueJs 3 Funktion setup() vereint data property , mounted und methodes in einem

  setup() {

    const isMobileMQ = window.matchMedia('(max-width: 576px)')

    const isMobile = ref(isMobileMQ.matches)

    const mobileMQChangeListener = () => isMobile.value = isMobileMQ.matches

   
    onMounted(() => {
      isMobileMQ.addEventListener('change', mobileMQChangeListener)
    })
  
    onUnmounted(() => {
      isMobileMQ.removeEventListener('change', mobileMQChangeListener)
    })

    return {isMobile}
  },

  methods: {

    // Reduziere "min" & "max" um jeweils eine Stelle sobald ich den Button klicke mit der Funktion previous()
    previous() {
      this.min = this.min - 1
      this.max = this.max - 1
    },

    // Erhöhe "min" & "max" um jeweils eine Stelle sobald ich den Button klicke mit der Funktion next()
    next() {
      this.min = this.min + 1
      this.max = this.max + 1
    },
  }


}
</script>

<style>

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.main {
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
  margin-left: 10%;

}

.sliderWrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px 0;
  scroll-snap-type: x proximity;
}

.sliderContainer {
  scroll-snap-align: center;
  overflow: hidden;
  padding: 10px;
  position: relative;

}

.headline {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #16828F;
  font-size: 24px;
}

.subHeadline {
  color: #525252;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.sliderBody {
  border-radius: 15px;
  box-shadow: -2px 2px 0px rgb(217 225 95);
  width: 287px;
  height: 222px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.sliderBody:last-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2rem;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
}

.img {
  width: 287px;
  height: 177px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.sliderFooter {
  display: flex;
  flex-direction: row;
}


.animalName {
  width: 40%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #16828F;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-top: 13px;
  padding-left: 5px;
}

.aniWeight {
  color: #A11A79;
  font-family: 'Open Sans';
  font-size: 16px;
  text-align: right;
  width: 60%;
  padding-top: 9px;
  padding-right: 10px;
}

.sliderBtn {
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 100%;
  border: .1rem solid #85e1ec;
  top: 430px;
  z-index: 10;

}


@media (max-width: 576px) {
  .btnContainer {
    display: none;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.btnContainer {
  position: relative;
  top: 160px;

}

.sliderBtnIcon {
  width: 2rem;
  height: 2rem;
  fill: #16828f;

}

.sliderBtnIconLeft {
  transform: rotate(270deg);
  margin-right: 8px;
}

.sliderBtnIconRight {
  transform: rotate(90deg);
  margin-left: 8px;
}

</style>